body {
    font-family: Arial, sans-serif;
    background-color: #ded6c9; /* Cor de fundo */
    color: #452b34; /* Cor do texto */
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto; /* Adiciona margem ao redor da imagem e a centraliza */
}
